<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Inbox
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">
                Home
            </ion-title>
        </ion-toolbar>
    </ion-header>
    
    <ion-card>
      <ion-item>
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>{{name}}</ion-label>
        <ion-button fill="outline" slot="end" (click)="logOut()">Log out</ion-button>
      </ion-item>
    
      <ion-card-content>
        User logged in to Gamebus
      </ion-card-content>
    </ion-card>

    <ion-button class="ion-text-center" (click)="getCsv()">Upload csv</ion-button>
    <!-- <iframe height="100%" width="100%" src="https://www.libreview.com/glucosereports">hi</iframe> -->
    <!-- <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list> -->
</ion-content>
