<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    <ion-title>download-csv</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-input accept=".csv" multiple='false' type='file' (change)="onUpload($event)"></ion-input> -->

  <iframe (load)="onLibreViewLoad()" id="libreview-frame" height="100%" width="100%" src="https://www.libreview.com/glucosereports">hi</iframe>
  
</ion-content>
