<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Download dataset</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-input
        accept=".csv"
        multiple="false"
        type="file"
        (change)="onUpload($event)"
    ></ion-input>

    <ion-button (click)="toggleTutorial()">Tutorial</ion-button>
    <ion-button (click)="openLibreView()">Open LibreView</ion-button>
    <ion-button (click)="toggleLibreView()">Toggle LibreView</ion-button>

    <ion-card *ngIf="showTutorial">
        <ion-item class="ion-activated">
            <ion-icon name="log-in" slot="start"></ion-icon>
            <ion-label>Login to LibreView</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="trending-up" slot="start"></ion-icon>
            <ion-label>Open Glucose Reports</ion-label>
        </ion-item>

        <ion-item class="ion-activated">
            <ion-icon name="download" slot="start"></ion-icon>
            <ion-label>Download Glucose Data</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon name="cloud-upload" slot="start"></ion-icon>
            <ion-label>Upload to GameBusLibre</ion-label>
        </ion-item>
    </ion-card>

    <iframe
        *ngIf="showLibreView"
        (load)="onLibreViewLoad()"
        id="libreview-frame"
        height="100%"
        width="100%"
        src="https://www.libreview.com/glucosereports"
        >hi</iframe
    >
</ion-content>
